//
// Loading button
//

.c-loading-button{
  position: relative;
  overflow: hidden;
}

.c-loading-button .c-stripe{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  transition: left 1s linear;
}

.c-loading-button .c-stripe.c-max{
  left: 0;
}
